{
  "importOrder": [
    "^assets/(.*)$",
    "^components/(.*)$",
    "^data/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 3
}