@import "assets/styles/includes/vars";

.promo {
   padding: 25px 0 100px;
   position: relative;
   z-index: 3;
}

.promoLine {
   position: absolute;
   z-index: -1;
   left: -100px;
   width: calc(100% + 120px);
   animation: drawLine 1.5s ease-in forwards;
   animation-delay: 1.5s;
   transform-origin: left top;
   stroke-dasharray: 1800;
   stroke-dashoffset: 1800;

   @keyframes drawLine {
      0% {
         stroke-dasharray: 1800;
         stroke-dashoffset: 1800;
      }

      100% {
         stroke-dasharray: 1800;
         stroke-dashoffset: 0;
      }
   }

   @media (max-width: 768px) {
      left: -20px;
      width: calc(100% + 40px);
   }
}

.promoInner {
   display: flex;

   @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}

.promoContent {
   max-width: 570px;
   width: 100%;
   margin-right: 50px;
   display: flex;
   flex-direction: column;
   min-height: 750px;

   @media (max-width: 1024px) {
      min-height: unset;
      max-width: 360px;
   }

   @media (max-width: 768px) {
      max-width: unset;
      margin-right: 0;
   }
}

.promoApps {
   margin-bottom: 50px;
   animation: showApps .7s forwards;
   animation-delay: .7s;
   opacity: 0;
   transform: translateX(-20px);

   @keyframes showApps {
      0% {
         opacity: 0;
         transform: translateX(-20px);
      }

      100% {
         opacity: 1;
         transform: translateX(0);
      }
   }
}

.promoAppsBox {
   display: flex;
   margin-bottom: 10px;

   @media (max-width: 768px) {
      justify-content: center;
   }
}

.promoAppsItem {
   width: 55px;
   height: 55px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: $primary;
   border: 1px solid $gray;

   img {
      max-width: 28px;
      max-height: 28px;
   }

   & + & {
      margin-left: -10px;
   }
}

.promoTitle {
   font-size: 90px;
   text-transform: uppercase;
   font-weight: 500;
   font-family: $oswaldFont;
   line-height: 1.1;
   margin-top: auto;
   animation: showTitle .7s forwards;
   animation-delay: 1.5s;
   opacity: 0;
   transform: translateY(40px);

   @keyframes showTitle {
      0% {
         opacity: 0;
         transform: translateY(40px);
      }

      100% {
         opacity: 1;
         transform: translateY(0);
      }
   }

   span {
      display: inline-block;
      padding: 5px;
      border-radius: 9px;
      transform: rotate(10.5deg);
      box-shadow: 0 1px 4px rgba($black, 0.25);
      background: $green;
      position: relative;

      &::after {
         content: '*';
         position: absolute;
         right: -25px;
         top: -25px;
         transform: rotate(-10.5deg);

         @media (max-width: 768px) {
            right: -10px;
            top: -10px;
         }
      }
   }

   @media (max-width: 1024px) {
      margin-top: 100px;
      font-size: 64px;
   }

   @media (max-width: 768px) {
      margin-top: 0;
      font-size: 48px;
   }

   @media (max-width: 420px) {
      font-size: 36px;
   }
}

.promoImage {
   flex-grow: 1;
   mask-image: url(../../assets/images/icons/create-mask.svg);
   mask-repeat: no-repeat;
   mask-size: contain;
   background-image: url(../../assets/images/promo-image.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 710px;
   animation: showImage .7s forwards;
   animation-delay: 1s;
   opacity: 0;
   transform: translateX(20px);
   transition: all .15s;

   &:hover {
      filter: blur(20px);
   }

   @keyframes showImage {
      0% {
         opacity: 0;
         transform: translateX(20px);
      }

      100% {
         opacity: 1;
         transform: translateX(0);
      }
   }

   @media (max-width: 1024px) {
      min-height: 500px;
      mask-position: center center;
   }

   @media (max-width: 768px) {
      width: 100%;
      margin-top: 50px;
   }
}